## Generic stuff to ignore ##

# Java stuff
*.class
*.jar

# IntelliJ stuff
/*/.idea
**/*.iml

# VS Code stuff
*.vscode

# MacOS stuff
.DS_Store

## Service specific ##

# HA Client
ha-client/target
ha-client/logs
ha-client/src/main/resources/AwsCredentials.properties
ha-client/.mvn/wrapper/maven-wrapper.jar

# HA Serverless
ha-serverless/.aws-sam
ha-serverless/packaged.yaml

