## Generic stuff to ignore ##

# Java stuff
*.class
*.jar

# IntelliJ stuff
/*/.idea
**/*.iml

# MacOS stuff
.DS_Store

## Service specific ##

# HA Client
ha-client/target
ha-client/src/main/resources/AwsCredentials.properties
ha-client/.mvn/wrapper/maven-wrapper.jar

# HA Serverless
ha-serverless/HelloWorldFunction/.aws-sam
ha-serverless/HelloWorldFunction/target/

